<h1>最新のメール件名（10件）</h1>
<ul>
  <% @messages.each do |msg| %>
    <li>
      <% if msg[:id] %>
        <%= link_to msg[:subject], mail_path(id: msg[:id]) %>
      <% else %>
        <%= msg[:subject] %>
      <% end %>
    </li>
  <% end %>
  <h2>---------</h2>
  <%= link_to 'メール作成', new_mail_path %>
  <h2>---------</h2>
  <%= link_to 'ログアウト', root_path %>
</ul>
